<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: htmlHead">

</head>
<body>

	<div style="height: 10px; background:#27aae1;"></div>
	
	<!-- Nav-bar start -->
	
	<nav  th:replace="fragments :: htmlNavbar"></nav>
	
	<div style="height: 10px; background:#27aae1;"></div>

	<!-- Nav-bar end-->

<p class="display-4">Fill Up Your Book Details - For Selling</p>
	<form method="post">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="bookName">Book Name</label> <input type="text"
					class="form-control" name="bookName" id="bookName" placeholder="Enter Book Name">
			</div>
			<div class="form-group col-md-6">
				<label for="writer">Writer Name</label> <input
					type="text" class="form-control" name="writer" id="writer"
					placeholder="Enter Writer Name">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="publishingYear">Publishing Year</label> <input
					type="number" class="form-control" name="publishingYear" id="publishingYear"
					placeholder="Write Publishing Year">
			</div>
			<div class="form-group col-md-4">
				<label for="price">Your Expected Price(Taka) </label> <input
					type="number" class="form-control" id="price" name="price"
					placeholder="Good Pricing help you to sell books quickly">
			</div>

			<div class="form-group col-md-4">
				<label for="bookCondition">Your Book Condition</label> <select
					class="form-control" id="bookCondition" name="bookCondition">
					<option value="New">New</option>
					<option selected="selected" value="Used">Used</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="language">Book Language</label> <select
					class="form-control" name="language" id="language">
					<option value="en">English</option>
					<option value="bn">Bengali</option>
					</select>
			</div>

			<div class="form-group col-md-6">
				<label for="categoryId">Book Category</label> <select
					class="form-control" id="categoryId" name="categoryId">
					<option th:each="category: ${allCategories}"
						th:value="${category.categoryId}"
						th:text="${category.categoryName}">1</option>
				</select>
			</div>

		</div>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" required="required" type="checkbox" id="gridCheck">
				<label class="form-check-label" for="gridCheck"> I follow and abide all rules for book selling
					out </label>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Add Book</button>
	</form>


</body>
</html>