<!DOCTYPE html>
<html>
<head th:replace="fragments :: html_head"/>
<body>

<nav th:replace="fragments :: nav_bar"/>

<section class="space-bottom-3">
<div class="container">
<header class="mb-5 d-md-flex justify-content-between align-items-center">
<h2 class="font-size-7 mb-3 mb-md-0">Bestselling Books</h2>
<a href="../shop/v1.html" class="h-primary d-block">View All <i class="glyph-icon flaticon-next"></i></a>
</header>
<div class="js-slick-carousel products no-gutters border-top border-left border-right slick-initialized slick-slider slick-dotted" data-pagi-classes="d-xl-none text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0" data-arrows-classes="d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y" data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10" data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10" data-slides-show="5" data-responsive="[{
                   &quot;breakpoint&quot;: 1500,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 4
                   }
                },{
                   &quot;breakpoint&quot;: 1199,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 3
                   }
                },{
                   &quot;breakpoint&quot;: 992,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 2
                   }
                }, {
                   &quot;breakpoint&quot;: 768,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }, {
                   &quot;breakpoint&quot;: 554,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }]"><div class="js-prev d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10 slick-arrow slick-disabled" aria-disabled="true" style=""></div>
<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1960px; transform: translate3d(0px, 0px, 0px);"><div class="product slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 280px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="0"><img src="../../assets/img/150x226/img1.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="0">Paperback</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="0">Think Like a Monk: Train Your Mind for Peace and Purpose Everyday</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700" tabindex="0">Jay Shetty</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="0">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 280px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="0"><img src="../../assets/img/150x226/img2.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="0">Kindle Edition</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="0">The Last Sister (Columbia River Book 1)</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="0">Kelly Harms</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="0">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 280px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="0"><img src="../../assets/img/150x226/img3.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="0">Paperback</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="0">All You Can Ever Know: A Memoir</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="0">Jay Shetty</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="0">
 <span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 280px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="0"><img src="../../assets/img/150x226/img4.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="0">Kindle Edition</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="0">The Overdue Life of Amy Byler</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="0">Kelly Harms</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="0">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 280px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide14" aria-describedby="slick-slide-control14">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="0"><img src="../../assets/img/150x226/img5.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="0">Kindle Edition</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="0">The Last Sister (Columbia River Book 1)</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="0">Kelly Harms</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="0">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="0">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide" data-slick-index="5" aria-hidden="true" style="width: 280px; height: auto;" tabindex="-1" role="tabpanel" id="slick-slide15" aria-describedby="slick-slide-control15">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="-1"><img src="../../assets/img/150x226/img6.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="-1">Paperback</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="-1">All You Can Ever Know: A Memoir</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="-1">Jay Shetty</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="-1">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="-1">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="-1">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div><div class="product slick-slide" data-slick-index="6" aria-hidden="true" style="width: 280px; height: auto;" tabindex="-1" role="tabpanel" id="slick-slide16" aria-describedby="slick-slide-control16">
<div class="product__inner overflow-hidden p-3 p-md-4d875">
<div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
<div class="woocommerce-loop-product__thumbnail">
<a href="../shop/single-product-v1.html" class="d-block" tabindex="-1"><img src="../../assets/img/150x226/img7.jpg" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
</div>
<div class="woocommerce-loop-product__body product__body pt-3 bg-white">
<div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v1.html" tabindex="-1">Kindle Edition</a></div>
<h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html" tabindex="-1">The Overdue Life of Amy Byler</a></h2>
<div class="font-size-2  mb-1 text-truncate"><a href="others/authors-single.html" class="text-gray-700" tabindex="-1">Kelly Harms</a></div>
<div class="price d-flex align-items-center font-weight-medium font-size-3">
<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
</div>
</div>
<div class="product__hover d-flex align-items-center">
<a href="../shop/single-product-v1.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" tabindex="-1">
<span class="product__add-to-cart">ADD TO CART</span>
<span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
</a>
<a href="../shop/single-product-v1.html" class="mr-1 h-p-bg btn btn-outline-primary border-0" tabindex="-1">
<i class="flaticon-switch"></i>
</a>
<a href="../shop/single-product-v1.html" class="h-p-bg btn btn-outline-primary border-0" tabindex="-1">
<i class="flaticon-heart"></i>
</a>
</div>
</div>
</div>
</div></div></div>






<div class="js-next d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10 slick-arrow" style="" aria-disabled="false"></div><ul class="js-pagination d-xl-none text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0" style="display: block;" role="tablist"><li class="slick-active slick-current" role="presentation"><span></span></li><li role="presentation"><span></span></li><li role="presentation"><span></span></li></ul></div>
</div>
</section>



<div th:replace="fragments :: all_javascript" />
</body>
</html>