<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: htmlHead">
</head>
<body>
	<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/></div>
	<table class="table">	
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Book Name</th>
				<th scope="col">Writer</th>
				<th scope="col">Price (Taka)</th>
				<th scope="col">Condition</th>
			</tr>
		</thead>
		
		<tbody>
			<tr class="table-info">
				<td th:text=${book.bookId}></td>
				<td th:text=${book.bookName}></td>
				<td th:text=${book.writer}></td>
				<td th:text=${book.price}></td>
				<td th:text=${book.bookCondition}></td>
			</tr>
		</tbody>
	</table>
	
<div class="col-md-9">
	<div class="card">
		<div class="card-body">	
			<div class="row">
				<div class="col-md-12">
					<form  method="post" action="/buyBook/orderTable">
						<div class="form-group row">
							<label for="fullName" class="col-4 col-form-label">Your Name</label>
							<div class="col-8">
								<input id="userName" name="userName" class="form-control here"
										type="text" th:value="${user.fullName}">
							</div>
						</div>

						<div class="form-group row">
							<label for="phoneNumber" class="col-4 col-form-label">Phone Number</label>
								<div class="col-8">
									<input id="phoneNumber" name="userPhoneNo"
										class="form-control here" type="text"
										th:value="${user.phoneNumber}">
								</div>
						</div>

						<div class="form-group row">
							<label for="address" class="col-4 col-form-label">Shipping Address</label>
							<div class="col-8">
								<input id="address" name="userAddress" class="form-control here"
										type="text" th:value="${user.address}">
							</div>
						</div>
						<div class="form-group row">
							<label for="address" class="col-4 col-form-label">Book Price (Taka) </label>
							<div class="col-8">
								<input id="address" name="price" readonly class="form-control-plaintext"
										type="text" th:value="${book.price}">
							</div>
						</div>
						
						<div class="form-group row">
							<label for="address" class="col-4 col-form-label">Cash on Delivery</label>
							<div class="col-8">
								<input id="cod" name="cod" readonly class="form-control-plaintext"
										type="text" value="60 Taka">
							</div>
						</div>
						
						<div class="form-group row">
							<label for="address" class="col-4 col-form-label">Payable Total(Taka)</label>
							<div class="col-8">
								<input id="totalPrice" name="totalPrice" readonly class="form-control-plaintext"
										type="text" th:value="${book.price + 60}">
							</div>
						</div>
						
						<div class="form-group row">
							<label for="website" class="col-4 col-form-label text-danger">You can change your Name,Phone No and Shipping Address</label>
							<div class="col-8">
								<button name="submit" type="submit" class="btn btn-primary">Confirm Order</button>
							</div>
						</div>
					
					</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>