.post {
    border: 1px solid black;
    margin: 2px 0;
    padding: 20px;
}

.similar_posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.similar_post_card {
    border: 1px solid black;

}