<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: htmlHead">

</head>

<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */


</style>

<body>

	<!-- Nav-bar start -->
	
	<nav  th:replace="fragments :: htmlNavbar"></nav>
	
	<div style="height: 10px; background:#27aae1;"></div>

	<!-- Nav-bar end-->
	
	
	<div class="container">
	  <div class="row">
	    <div class="col text-center pt-4 m-5 pb-5 bg-secondary text-white" >
	      <form action="userRegistration" role="form"> 
			<button class="button button1"> User Registration </button>
		</form>
		<form action="sellerRegistration" role="form"> 
			<button class="button button2" > Seller Registration</button>
		</form>
	    </div>
	  </div>
	</div>
	
	
</body>
</html>