<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: htmlHead">

</head>
<body>
	<!-- Nav-bar start -->
	
	<nav  th:replace="fragments :: htmlNavbar"></nav>
	
	<div style="height: 10px; background:#27aae1;"></div>

	<!-- Nav-bar end-->
	<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
	
	<div class="col-xl-9">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<h4>Your Profile</h4>
						<h5 style="color:red;" th:text="${msg}"></h5>
						<hr>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						
						<form method="post" action="updateSeller">

							<div class="form-group row">
								<label for="fullName" class="col-4 col-form-label">Seller Name</label>
								<div class="col-8">
									<input id="fullName" name="fullName" class="form-control here"
										type="text" th:value="${fullName}">
								</div>
							</div>

							<div class="form-group row">
								<label for="phoneNumber" class="col-4 col-form-label">Phone Number</label>
								<div class="col-8">
									<input id="phoneNumber" name="phoneNumber"
										class="form-control here" type="text"
										th:value="${phoneNumber}">
								</div>
							</div>

							<div class="form-group row">
								<label for="address" class="col-4 col-form-label">Address</label>
								<div class="col-8">
									<input id="address" name="address" class="form-control here"
										type="text" th:value="${address}">
								</div>
							</div>

							<div class="form-group row">
								<label for="birthday" class="col-4 col-form-label">Birthday</label>
								<div class="col-8">
									<input id="birthday" name="birthday" readonly class="form-control-plaintext"
										type="text" th:value="${birthday}">
								</div>
							</div>

							<div class="form-group row">
								<label for="sellerType" class="col-4 col-form-label">Seller
									Type</label>
								<div class="col-8">
									<input id="sellerType" name="sellerType"
										readonly class="form-control-plaintext" type="text" th:value="${sellerType}">
								</div>
							</div>

							<div class="form-group row">
								<label for="gender" class="col-4 col-form-label">Gender</label>
								<div class="col-8">
									<input id="gender" name="gender" readonly class="form-control-plaintext"
										type="text" th:value="${gender}">
								</div>
							</div>

							<div class="form-group row">
								<label for="nid" class="col-4 col-form-label">NID</label>
								<div class="col-8">
									<input id="nid" name="nid" readonly class="form-control-plaintext"
										type="text" th:value="${nid}">
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-4 col-form-label">Email</label>
								<div class="col-8">
									<input id="email" name="email" readonly class="form-control-plaintext"
										type="text" th:value="${email}">
								</div>
							</div>

							<div class="form-group row">
								<label for="shopOrPublicationName" class="col-4 col-form-label">Shop Name/ Publication Name</label>
								<div class="col-8">
									<input id="shopOrPublicationName" name="shopOrPublicationName"
										readonly class="form-control-plaintext" type="text"
										th:value="${shopOrPublicationName}">
								</div>
							</div>

							<div class="form-group row">
								<label for="website" class="col-4 col-form-label text-danger">You can update only your Name,Phone No and Address</label>
								<div class="col-8">
									<button name="submit" type="submit" class="btn btn-primary">Update Profile</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>


			</div>
		</div>
	</div>









	<!-- FOOTER -->
	<footer th:replace="fragments :: htmlFooter"></footer>
	<div style="height: 10px; background:#27aae1;"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<!-- for date -->

	<script >
		$('#year').text(new Date().getFullYear());
	</script>
	

</body>
</html>