<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="fragments :: htmlHead">
</head>

<body>

	<div style="height: 10px; background:#27aae1;"></div>
	
	<!-- Nav-bar start -->
	
	<nav  th:replace="fragments :: htmlNavbar"></nav>
	
	<div style="height: 10px; background:#27aae1;"></div>

	<!-- Nav-bar end-->
	
	<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
	<div th:if="${bookAddMessage}" th:text="${bookAddMessage}" th:class="${'alert ' + alertClass}"></div>
	
	<br>
	<div>
	<h4>Waiting For Sell</h4>
		<table class="table table-striped">	
			<thead class="bg-warning">
				<tr>
					<th scope="col">Book Id</th>
					<th scope="col">Photo</th>
					<th scope="col">Book Name</th>
					<th scope="col">Price (Taka)</th>
					<th scope="col">Current Status</th>
					<th scope="col">Edit Book Price</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="history : ${listOfUnsoldBooks}">
					<td th:text=${history.bookId}></td>
					<td><img class="card-img-top" width="50" height="50" th:src="'/images/' + ${history.photos}" alt="Card image cap">
					</td>
					<td th:text=${history.bookName}></td>
					<td th:text=${history.price}></td>
					<td>Waiting For Sell</td>
					<td><a th:href="'editBook/?bookId='+${history.bookId}" class="card=link btn btn-info">Edit</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<br>
		<div>
		<h4>List Of Your Sold Books </h4>
		<table class="table table-striped">	
			<thead class="bg-info">
				<tr>
					<th scope="col">Order Id</th>
					<th scope="col">Photo</th>
					<th scope="col">Book Name</th>
					<th scope="col">Price (Taka)</th>
					<th scope="col">Order Status</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="history : ${listOfSoldBooksList}">
					<td th:text=${history.orderId}></td>
					<td><img class="card-img-top" width="50" height="50" th:src="'/images/' + ${history.photos}" alt="Card image cap">
					</td>
					<td th:text=${history.bookName}></td>
					<td th:text=${history.price}></td>
					<td th:text="Sold"></td>
				</tr>
			</tbody>
		</table>
		</div>
		
		<br>
		<div th:if="${userOrder}">
			<h4>Your Ordered books</h4>
			<table class="table">	
				<thead class="bg-success">
					<tr>
						<th scope="col">Order Id</th>
						<th scope="col">Photo</th>
						<th scope="col">Book Name</th>
						<th scope="col">Price (Taka)</th>
						<th scope="col">Order Status</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="history : ${buyBooks}">
						<td th:text=${history.orderId}></td>
						<td><img class="card-img-top" width="50" height="50" th:src="'/images/' + ${history.photos}" alt="Card image cap">
						</td>
						<td th:text=${history.bookName}></td>
						<td th:text=${history.price}></td>
						<td th:text=${history.orderStatus}></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	
</body>
</html>