<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>

<p> <a href="/user/profile">Cancel</a> </p>
	<h1>Edit Your Profile</h1>

	<form action="" method="post">
		<h3>Name</h3>
		<input type="text" name="fullName" th:value="${user.fullName}">
		
		<h3>Phone Number</h3>
		<input type="text" name="phonenumber" th:value="${user.phonenumber}">
		
		<h3>Gender</h3>
		<input checked="checked" name="gender" type="radio" value="Male"> Male
		<input type="radio" name="gender" value="Female"> Female
		
		<h3>NID or Birth Cirtificate Id</h3>
		<input type="text" name="nidOrBirthId" th:value="${user.nidOrBirthId}">
		
		<br> <br>
		<input type="submit" value="Update">
	</form>
</body>
</html>